<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP365</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/Style.css'%}"/>
    <style> .centered {text-align: center;}; </style>
    <style> table {margin: 0 auto;
    background-color: #6b58c7;}; </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation">
        <div class="container">
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                &#9776;
            </button>
            <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                {% if user.is_authenticated %}
                    Hola {{ user.username }}
                    <a class="btn btn-outline-dark" href="/carrito">Carrito</a>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-dark" type="submit">Cerrar sesion</button>
                    </form>
                {% else %}
                    <a class="btn btn-outline-primary float-end" href="/accounts/signup/">Registrate</a>
                    <a class="btn btn-outline-dark" href="{% url 'login' %}">Iniciar Sesion</a>
                    <a class="btn btn-outline-dark" href="/registration/recuperar">Recuperar Contraseña</a>
                {% endif %}
   
                
            </div>
        </div>
    </nav>

    <h1>BIENVENIDO A "PETSHOP 365"</h1>
    <p class="centered"> Somos una tienda online de venta de productos para mascotas.</p>
    <br>
    <h2>CATEGORIAS</h2>

    


    <div class="centered">
        <div class="row">
            {% for categoria in categorias %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static categoria.rutaImagen%}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{categoria.nombreCategoria}}</h5>
                        <p class="card-text">{{categoria.descripcionCategoria}}</p>
                        <a href="/productos/{{categoria.idCategoria}}" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
