<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>365Videojuegos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/Style.css'%}"/>
    <style> .centered {text-align: center;}; </style>
    <style> table {margin: 0 auto;
    background-color: #6b58c7;}; </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation">
        <div class="container">
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                &#9776;
            </button>
            <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                <a class="btn btn-outline-primary float-end" href="/formulario">Registrate</a>
                <a class="btn btn-outline-dark" href="/formulario">Compras</a>
                <a class="btn btn-outline-dark" href="/formulario">Cerrar sesion</a>
            </div>
        </div>
    </nav>

    <h1>BIENVENIDO A "365 VIDEOJUEGOS"</h1>
    <p class="centered"> Somos una tienda online de venta de videojuegos para todas las consolas y PC.</p>
    <br>
    <h2>CATEGORIAS</h2>

    


    <div class="centered">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'app/imagenes/ropa4.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Prendas de vestir</h5>
                      <p class="card-text">Variedad de de prendas de vestir para tus mascotas.</p>
                      <a href="/vestimenta" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'app/imagenes/i13ynTpBw8HAmb.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Alimentos para mascotas</h5>
                      <p class="card-text">Variedad de juegos en línea de carreras con alta resolución.</p>
                      <a href="/alimentos" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'app/imagenes/Fortnite.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Snacks</h5>
                      <p class="card-text">Variedad de juegos en línea de disparos con alta resolución.</p>
                      <a href="/snacks" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'app/imagenes/Fifa.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Jugueteria</h5>
                      <p class="card-text">Variedad de juegos en línea de deportes con alta resolución.</p>
                      <a href="/juguetes" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'app/imagenes/StreetFighter.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cuidado y salud</h5>
                      <p class="card-text">Variedad de juegos en línea de peleas con alta resolución.</p>
                      <a href="/cuidadoSalud" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'app/imagenes/StreetFighter.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Accesorios</h5>
                      <p class="card-text">Variedad de juegos en línea de peleas con alta resolución.</p>
                      <a href="/accesorios" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
