<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <style>
        .btn {
            display: inline-block;
            padding: 8px 20px;
            font-size: 10px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            background-color: #aeaeaf;
            color: #000000;
            transition: background-color 0.3s ease;
            margin-top: 20px;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Restablecer Contraseña</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Nombre de Usuario:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="birthdate">Fecha de Nacimiento (YYYY-MM-DD):</label><br>
        <input type="text" id="birthdate" name="birthdate" pattern="\d{4}-\d{2}-\d{2}" required><br>
        <button type="submit">Restablecer Contraseña</button>

    </form>

    <a class="btn btn-primary" href="/">Volver a Inicio</a>
</body>
</html>
